{% extends 'base2.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1> Order </h1>
            <div class="row">
                <h2> Your are ordering table at "{{ restaurant.title }}" restaurant! </h2>
                    {{ form_start(form) }}
                    {{ form_widget(form)}}
                    {{ form_end(form) }}
                    <h2>Choose table</h2>
                    {% for table in tables %}
                        <h1> {{ table.seats }}</h1>
                    {% endfor %}
                <div class="col-md-8">
                    <h2> Choose meal </h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for meal in meals %}
                            <tr>
                                <td>{{ meal.title }}</td>
                                <td>{{ meal.price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(meals) }}
                    </div>
            </div>
        </div>
    </div>

{% endblock %}