{% extends 'base2.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1> Order </h1>
            <div class="row">
                <h2> Your are ordering table at "{{ restaurant.title }}" restaurant! </h2>
                {{ form_start(form) }}
                <div class="col-md-2">
                    <label>Seats</label>
                    {{ form_widget(form.table, {'attr': {'class':'form-control'}}) }}
                    <label>Order time</label>
                    {{ form_widget(form.start_time) }}
                </div>
                <div class="col-md-10">
                    {{ form_widget(form.meals) }}
                </div>
            </div>
            <br>
            {{ form_widget(form.save, {'attr':{'class':'btn btn-primary col-md-4'}}) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}