{% extends 'base2.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1> Order </h1>
            <div class="row">
                <h2> Your are ordering table at "{{ restaurant.title }}" restaurant! </h2>
                {{ form_start(form) }}
                <div class="col-md-4">
                    {{ form_widget(form.table) }}
                </div>
                <div class="col-md-8">
                    {{ form_widget(form.meals) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}