{% extends 'base2.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <h1> Your orders </h1>
                {% for order in orders %}
                    <div class="well col-md-4">
                        {{ order.startTime | date("Y/m/d H:i") }}
                        {{ order.user.username }}
                        {{ order.table.seats }}
                        {% for meal in order.meals %}
                            {{ meal.title }} - {{ meal.price }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}